.text-primary {
    color: $primary-color;
  }
  
  .bg-secondary {
    background-color: $secondary-color;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  .m-1 {
    margin: 1rem;
  }
  
  .p-2 {
    padding: 2rem;
  }
  
  .border-round {
    border-radius: 5px;
  }
  